*{
  margin :0;
  padding:0;
  box-sizing:border-box;
   font-family: 'helvetica neue';
   color:#fff;

}
html,
body{
  height:100%;
  width:100%;
}
body{
  background-color: black;
}
.cards{
  background-color:rgb(211, 66, 90);
  border-radius: 10px;
  margin:20px;
  padding:20px;
}
.cards button{
  height :20%;
  width:40%;
  color:white;
}
.navbar{
   background-color:rgb(44, 161, 168);
  border-radius: 10px;
  margin:20px;
  padding:20px;
}